.Card {
    width: 296px;
    height: 224px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.16);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 800ms cubic-bezier(0.2,0.8,0.2,1);
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 30px 60px rgba(0,0,0,0.48);

        img {
            transform: translateY(-20px);
        }
    }

    img {
        height: 110%;
        position: absolute;
        top: 0;
        z-index: -1;
        transition: 800ms cubic-bezier(0.2,0.8,0.2,1);
    }

    h3 {
        color: white;
        font-size: 32px;
        margin: 16px 0 0 16px;
    }

    p {
        color: rgba($color: #fff, $alpha: 0.8);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        align-self: end;
        margin: 0 0 16px 16px;
    }
}